@import "styles/landing.module";

.toggle {
  background-color: $primary-color-middle;
}

.toggle:checked {
  background-color: $primary-color-light;
  border-color: $primary-color-dark !important;
}

.toggle:focus {
  border-color: $primary-color-dark !important;
  box-shadow: none;
}
